{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; margin-top: 50px; font-family: 'Courier New', Courier, monospace; font-weight: bold;">
    {% if user.is_authenticated %}
        <h1>Hello {{user.username}}, welcome back to Surfter v0.2!</h1>
    {% else %}
        <h1>Hello stranger, welcome to Surfter v0.2!</h1>
    {% endif %}

    <form action="SurftResults" method="post" style="margin-top: 20px;">

        {% csrf_token %}
        
        <br>
        <label for="queryprompt" style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">What do you want to know?</label><br>
        <input type="text" name="queryprompt" style="width: 333px;"><br>
        <br>
        <br>
        <label for="num2" style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">How deep to go?</label><br>
        <input type="text" name="num2" style="width: 50px;"><br>
        <br>
        <a>
            <button> Surft </button>
        </a>

    </form>


    <a href="{% url 'Surfting' %}">
        <button>Surft async WIP</button>
    </a>


</div>

{% endblock %}