{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfting --~*\-- </title>
</head>
<head>
    <title>Surfting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h3>Surfting --~*\--</h3>

    <!-- Replace 'your_gif_url_here' with the actual URL of your GIF -->
    <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/xTiTnBFk0CCq29UdQA" width="33%" height="33%" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe></div><p></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
     $(document).ready(function() {
        function checkTaskStatus() {
            $.get('/check_task_status/', {surfter_task_id: '{{ surfter_task_id }}'}, function(data) {
                // Update the task status on the page
                $('#task-status').text('Task status: ' + data.task_status);
                

                // If the task is not finished, check the task status again after 1 second
                if (data.task_status !== 'SUCCESS') {
                    setTimeout(checkTaskStatus, 1000);
                }
                else {
                    // Redirect the user to the results page
                    window.location.href = "/results";
                }
            });
        }

        checkTaskStatus();
    });   
        



    </script>
    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}