{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfting --~*\~-- </title>
</head>
<body>
    <h3>Surfting --~*\~--</h3>

    <!-- Replace 'your_gif_url_here' with the actual URL of your GIF -->
    <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/xTiTnBFk0CCq29UdQA" width="33%" height="33%" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe></div><p></p>
</body>
</html>

{% endblock %}